@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #d4a373;
    --color-secondary: #faedcd;
    --color-dark-secondary: #8a7e64;
    --color-text-base: black;
    --color-bg-primary: #e0eabf;
    --color-bg-secondary: #faedcd;
  }
}

.theme-black {
  --color-primary: black;
  --color-secondary: lightgray;
}

.theme-blue {
  --color-primary: rgb(24, 24, 76);
  --color-secondary: rgb(162, 162, 237);
}

.theme-purple {
  --color-primary: rgb(50, 24, 76);
  --color-secondary: rgb(216, 162, 237);
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    /* border-radius: 4px; */
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

.thumb-sm::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
}

.thumb-sm::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
}

.thumb-sm::-ms-thumb {
  width: 10px;
  height: 10px;
  background-color: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
}

/* &/*/
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite 1.5s;
}

.animate-progress {
  animation: progress linear forwards;
  animation-duration: var(--progress-duration, 240s);
}
